

<div class="row-padding">
	<h2><%= weather.current_observation.display_location.full %></h2>

	<div class="bar theme-light">
		<button class="bar-item button tabbtn padding-16 theme text-theme-light" onclick="openTab(event,'Today')">Today</button>
		<button class="bar-item button tabbtn padding-16" onclick="openTab(event,'7-DAY')">7-DAY</button>
	</div>
	<div id="Today" class="container tab animate-opacity card-4 responsive">
		<div class="container left">
			<p class="small opacity"><%= weather.current_observation.observation_time %></p>
			<div>
				<div>
					<img src=<%= weather.current_observation.icon_url %> >
					<span class="left-align xxxlarge lora"><%= weather.current_observation.weather %></span>
				</div>
				<p class="left-align" style="margin:1px 0;"><label class="lora large">Currently: </label> <span style="word-wrap:break-word;"><%= weather.current_observation.temperature_string %> </span></p>
				<p class="left-align" style="margin:1px 0;"><label class="lora large">Feels Like: </label> <span style="word-wrap:break-word;"><%= weather.current_observation.feelslike_string %> </span></p>
				<p class="left-align" style="margin:1px 0;"><label class="lora large">Precipitation: </label> <span style="word-wrap:break-word;"><%= weather.current_observation.precip_today_string %> </span></p>
				<p class="left-align" style="margin:1px 0;"><label class="lora large">Humidity: </label> <span style="word-wrap:break-word;"><%= weather.current_observation.relative_humidity %> </span></p>
				<p class="left-align" style="margin:1px 0;"><label class="lora large">Visibility: </label> <span style="word-wrap:break-word;"><%= weather.current_observation.visibility_mi %> MPH </span></p>
				<p class="left-align" style="margin:1px 0;"><label class="lora large">Winds: </label> <span style="word-wrap:break-word;"><%= weather.current_observation.wind_string %> </span></p>
			</div>
		</div>
		<div class="container quarter margin">
			<img src=<%= radar %> style="max-width:250px;max-height:250px;">
		</div>
	</div>

	<div id="7-DAY" class="container tab animate-opacity card-4">
		<div>
			<div class="container flex-container">
				<div class="col l1 card padding-small" style="min-width:150px;margin:5px;">
					<div class="col l5">
						<img src=<%= weather.forecast.simpleforecast.forecastday[0].icon_url %>>
					</div>
					<div class="col l7">
						<p class="medium left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[0].title %></p>
						<p class="small left-align" style="margin:1px;">HIGH <%= weather.forecast.simpleforecast.forecastday[0].high.fahrenheit %></p>
						<p class="small left-align" style="margin:1px;">LOW <%= weather.forecast.simpleforecast.forecastday[0].low.fahrenheit %></p>
					</div>
					<div class="padding-small margin-top col l12">
						<p class="tiny left-align" style="margin:1px 0;"><%= weather.forecast.txt_forecast.forecastday[0].fcttext %></p>
					</div>
				</div>
				<div class="col l1 card padding-small" style="min-width:150px;margin:5px;">
					<div class="col l5">
						<img src=<%= weather.forecast.simpleforecast.forecastday[1].icon_url %>>
					</div>
					<div class="col l7">
						<p class="medium left-align" style="margin:1px 0;"><%= weather.forecast.txt_forecast.forecastday[2].title %></p>
						<p class="small left-align" style="margin:1px 0;">HIGH <%= weather.forecast.simpleforecast.forecastday[1].high.fahrenheit %></p>
						<p class="small left-align" style="margin:1px 0;">LOW <%= weather.forecast.simpleforecast.forecastday[1].low.fahrenheit %></p>
					</div>
					<div class="padding-small margin-top col l12">
						<p class="tiny left-align" style="margin:1px 0;"><%= weather.forecast.txt_forecast.forecastday[2].fcttext %></p>
					</div>
				</div>
				<div class="col l1 card padding-small" style="min-width:150px;margin:5px;">
					<div class="col l5">
						<img src=<%= weather.forecast.simpleforecast.forecastday[2].icon_url %>>
					</div>
					<div class="col l7">
						<p class="medium left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[4].title %></p>
						<p class="small left-align" style="margin:1px;">HIGH <%= weather.forecast.simpleforecast.forecastday[2].high.fahrenheit %></p>
						<p class="small left-align" style="margin:1px;">LOW <%= weather.forecast.simpleforecast.forecastday[2].low.fahrenheit %></p>
					</div>
					<div class="padding-small margin-top col l12">
						<p class="tiny left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[4].fcttext %></p>
					</div>
				</div>
				<div class="col l1 card padding-small" style="min-width:150px;margin:5px;">
					<div class="col l5">
						<img src=<%= weather.forecast.simpleforecast.forecastday[3].icon_url %>>
					</div>
					<div class="col l7">
						<p class="medium left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[6].title %></p>
						<p class="small left-align" style="margin:1px;">HIGH <%= weather.forecast.simpleforecast.forecastday[3].high.fahrenheit %></p>
						<p class="small left-align" style="margin:1px;">LOW <%= weather.forecast.simpleforecast.forecastday[3].low.fahrenheit %></p>
					</div>
					<div class="padding-small margin-top col l12">
						<p class="tiny left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[6].fcttext %></p>
					</div>
				</div>
				<div class="col l1 card padding-small" style="min-width:150px;margin:5px;">
					<div class="col l5">
						<img src=<%= weather.forecast.simpleforecast.forecastday[4].icon_url %>>
					</div>
					<div class="col l7">
						<p class="medium left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[8].title %></p>
						<p class="small left-align" style="margin:1px;">HIGH <%= weather.forecast.simpleforecast.forecastday[4].high.fahrenheit %></p>
						<p class="small left-align" style="margin:1px;">LOW <%= weather.forecast.simpleforecast.forecastday[4].low.fahrenheit %></p>
					</div>
					<div class="padding-small margin-top col l12">
						<p class="tiny left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[8].fcttext %></p>
					</div>
				</div>
				<div class="col l1 card padding-small" style="min-width:150px;margin:5px;">
					<div class="col l5">
						<img src=<%= weather.forecast.simpleforecast.forecastday[5].icon_url %>>
					</div>
					<div class="col l7">
						<p class="medium left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[10].title %></p>
						<p class="small left-align" style="margin:1px;">HIGH <%= weather.forecast.simpleforecast.forecastday[5].high.fahrenheit %></p>
						<p class="small left-align" style="margin:1px;">LOW <%= weather.forecast.simpleforecast.forecastday[5].low.fahrenheit %></p>
					</div>
					<div class="padding-small margin-top col l12">
						<p class="tiny left-align" style="margin:1px;"><%= weather.forecast.txt_forecast.forecastday[10].fcttext %></p>
					</div>
				</div>
				<div class="col l1 card padding-small" style="min-width:150px;margin:5px;">
					<div class="col l5">
						<img src=<%= weather.forecast.simpleforecast.forecastday[6].icon_url %>>
					</div>
					<div class="col l7">
						<p class="medium left-align" style="margin:1px 0;"><%= weather.forecast.txt_forecast.forecastday[12].title %></p>
						<p class="small left-align" style="margin:1px 0;">HIGH <%= weather.forecast.simpleforecast.forecastday[6].high.fahrenheit %></p>
						<p class="small left-align" style="margin:1px 0;">LOW <%= weather.forecast.simpleforecast.forecastday[6].low.fahrenheit %></p>
					</div>
					<div class="padding-small margin-top col l12">
						<p class="tiny left-align" style="margin:1px 0;"><%= weather.forecast.txt_forecast.forecastday[12].fcttext %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>